.Endoresments {
  --gap: 30px;
  padding-bottom: calc(40px - var(--gap));
  column-fill: balance;
  column-count: 2;
  column-gap: var(--gap);
  orphans: 1;
}

.Endoresments > * {
  display: inline-block;
  margin-bottom: var(--gap);
}

@media only screen and (max-width: 600px) {
  .Endoresments {
    column-count: 1;
  }
}
