body {
  font-family: Lato, Sofia Pro, Helvetica Neue, sans-serif;
  line-height: 1.4em;
  margin: 0;
	padding: 0 120px 100px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
	font-size: 36pt;
	font-weight: 900;
	margin: 30px 0 0 -5px;
}

h4 {
	margin-top: 30px;
}

h5 {
	margin: 15px 0 4px !important;
}

.heading-column h5 {
	font-weight: 200;
	letter-spacing: 0.3em;
	margin: 0 0 8px;
}

em {
	background: #f9f9f9;
	font-weight: 300;
	font-style: normal;
}

.me {
	float: left;
  margin-right: 30px;
}

.me img {
  border: 5px solid #fff;
  border-radius: 100px;
  box-shadow: 2px 2px 15px -5px rgba(0, 0, 0, 0.75);
  height: 180px;
  width: 180px;
}

.bigger {
	font-size: 1.4em;
	line-height: 1em;
}

.smaller {
	font-size: 0.9em;
}

ul.unstyled, ol.unstyled {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

table.unstyled td {
	padding: 0;
}

.taglist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.taglist li {
	background: #e5e5e5;
	border-radius: 3px;
	display: inline-block;
	font-size: 0.85em;
	margin: 0 10px 10px 0;
	padding: 0 !important;
}

.taglist li span {
	display: inline-block;
}

.taglist li .text {
	font-weight: 500;
	padding: 5px 8px;
}

.taglist li .badge {
	background: #f5f5f5;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 1px solid #fff;
	color: #000;
	font-weight: 200;
	padding: 8px;
}

/* SECTIONS */

.section {
	border-top: 1px solid #aaa;
	margin-top: 40px;
  padding: 20px 10px;
}

.section h3 {
	margin-top: 0;
	font-size: 22pt;
	font-weight: 500;
}

.section .column {
	padding-top: 10px;
}

.section .heading-column {
	padding-left: 0;
}

.section .content-column {
	padding-right: 0;
}

/* WHOAMI */

#whoami.section,
#whoami.section .heading-column {
  background-color: #f5f5f5;
	border-top: none;
  margin: 0;
}

#whoami.section {
  padding: 10px 20px 40px;
}

#objective {
  margin-top: 0;
}

/* ITEMS */

.item {
	border-bottom: 1px dotted #ddd;
	font-size: 0.9em;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.item .title {
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 6px;
}

.item:first-child {
	font-size: 1.2em;
}

.item:first-child .description p {
	font-size: 0.8em;
}

.item:first-child .description p:first-child {
	font-size: 1em;
}

.item:last-child {
	border-bottom: none;
}

.item.coursera {
  position: relative;
  z-index: 1000;
}

.item.coursera::before {
  background-color: rgba(255, 255, 255, 0.10);
  background-image: url(img/coursera.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media print {
  body {
    font-size: 0.8em;
  }

	html,
	body,
	#whoami,
	h1,
	.container {
		margin-top: 0;
		padding-top: 0;
	}

	body {
		font-size: 14pt;
		padding: 0 40px;
	}

	h5 {
		font-size: 1.1em;
	}

	.col-md-9,
	.col-md-3 {
	    display: block;
	}

	.section h3 {
		font-size: 18pt;
	}

	.bigger {
		font-size: 1.5em;
		line-height: 1em;
	}

	.smaller {
		font-size: 1em;
	}

	.taglist li {
		font-size: 1.1em;
		margin-right: 5px;
	}

	.taglist li:after {
		content: "|";
		color: #777;
		padding-left: 9px;
	}

	.taglist li:last-child:after {
		content: "";
		padding-left: 0;
	}

	.taglist li .text {
		padding-right: 0;
	}

	.taglist li .badge {
		font-size: 1em;
		padding-left: 2px;
	}

	.taglist li .badge:before {
		content: "(";
	}

	.taglist li .badge:after {
		content: ")";
	}

  a:after {
    color: #777;
    content: " [" attr(href) "] ";
    font-size: 0.8em;
    font-weight: normal;
  }
}
