body {
  background-color #f5f5f5
  text-align center
}

.Photo {

}

.Photo img {
  border 5px solid #fff
  border-radius 150px
  height 300px
  width 300px

  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}
